// Put any @imports here
// See Readme for a list of supported ones
@import "bourbon";
@import "neat";
@import "foundation";
@import "font-awesome";


body {
  width: 100%;
  background-image: url('../photos/GYEIFHUP3O.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 20%;
  background-attachment: fixed;
}
.top-bar{
  background-image: url('../photos/GYEIFHUP3O.jpg');
  @media only screen and (min-width: 40.0625em) {
    background: transparent;
    .name h1 a {
      margin-top: 15px;
      font-family: 'Cookie', cursive;
      font-size: 55px;
    }
  }

  i {
    color: white;
    margin: 15px;
  }
}


.content {
  // background: #96B4C2;
  margin: 30px auto;
  list-style: none;
  h3 {
    text-align: center;
  }
}
.recipe-collection {
  @include outer-container;
  margin-top: 50px;
  padding: 15px;
  li {
    @include span-columns(3);
    @include omega(4n);
    background: #96B4C2;
    border: 2px solid white;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
  }
}
.title {
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  h1 {
    text-align: center;
    margin: auto;
  }
  span {
    padding: 10px;
  }
}

.recipe {
  @include outer-container;
  max-width: 80%;
  margin: 20px auto;
  h3 {
    text-align: center;
  }
  li {
    list-style: none;
  }
  .ingredients {
    @include span-columns(4);
    ul {
      
    }
  }
  .instructions {
    @include span-columns(8);
    @include omega();
  }
}

.add {
  @include span-columns(8);
  @include omega();
  @include shift(2);
}

footer {
  @include span-columns(12);
  text-align: center;
  bottom: 0;
}