// Put any @imports here
// See Readme for a list of supported ones
@import "bourbon";
@import "neat";
@import "foundation";


body {
  width: 100%;
  background: #e2ebf3;
}
.content {
  list-style: none;
  h3 {
    text-align: center;
  }
}
.recipe-collection {
  @include outer-container;
  margin-top: 50px;
  li {
    @include span-columns(3);
    @include omega(4n);
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
  }
}
.title {
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  span {
    padding: 10px;
  }
}

.recipe {
  @include outer-container;
  max-width: 80%;
  margin: 20px auto;
  h3 {
    text-align: center;
  }
  li {
    list-style: none;
  }
  .ingredients {
    @include span-columns(4);
    ul {
      
    }
  }
  .instructions {
    @include span-columns(8);
    @include omega();
  }
}

.add {
  @include span-columns(8);
  @include omega();
  @include shift(2);
}

footer {
  @include span-columns(12);
  text-align: center;
}