<h3>Add</h3>

<form ng-submit="addRecipe(recipe)">
  <input placeholder="Title" ng-model="recipe.title">
  <input placeholder="PointsPlus Value" ng-model="recipe.value">
  <input placeholder="Serving Size" ng-model="recipe.serving">
  <input placeholder="How Much Does The Recipe Yield?" ng-model="recipe.yield">
  <input placeholder="Ingredients" ng-model="recipe.ingredients">
  <input placeholder="Instructions" ng-model="recipe.instructions">
  <input placeholder="Notes" ng-model="recipe.notes">
  <button>Add</button>
</form>