<h2>Editing...</h2>

<form ng-submit="updateRecipe(singleRecipe)">
  <span>Title</span><input ng-model="singleRecipe.title">
  <span>PointsPlus™ value |</span><input ng-model="singleRecipe.value">
  <span>Servings</span><input ng-model="singleRecipe.serving">
  <span>Yields </span><input ng-model="singleRecipe.yield">
  <span>Ingredients</span><input ng-model="singleRecipe.ingredients">
  <span>Instructions</span><input ng-model="singleRecipe.instructions">
  <span>Notes</span><input ng-model="singleRecipe.notes">
  <button>Update</button>
</form>