<ul>
  <h3>Ingredients</h3>
  <li> {{ singleRecipe.ingredient1 }} </li>
  <br>
  <li> {{ singleRecipe.ingredient2 }} </li>
  <br>
  <li> {{ singleRecipe.ingredient3 }} </li>
  <br>
  <li> {{ singleRecipe.ingredient4 }} </li>
  <br>
  <li> {{ singleRecipe.ingredient5 }} </li>
  <br>
  <li> {{ singleRecipe.ingredient6 }} </li>
  <li> {{ singleRecipe.ingredient7 }} </li>
  <br>
  <li> {{ singleRecipe.ingredient8 }} </li>
  <br>
  <li> {{ singleRecipe.ingredient9 }} </li>
  <br>
  <li> {{ singleRecipe.ingredient10 }} </li>
  <br>
  <li> {{ singleRecipe.ingredient11 }} </li>
  <br>
  <li> {{ singleRecipe.ingredient12 }} </li>
</ul>