<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">My Recipes</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <a id="add" href="#/add"><i class="fa fa-plus"></i></a>
    </ul>
  </section>
</nav>

<section class="content" ui-view="content">
  <section class="title" ui-view="title"></section>
  <div class="recipe">
    <section class="ingredients" ui-view="ingredients"></section>
    <section class="instructions" ui-view="instructions"></section>
  </div>
</section>

<footer ui-view="footer"></footer>