<h1>{{ singleRecipe.title }}</h1>

<p> PointsPlus™ value | {{ singleRecipe.value }} per serving</p>
<p> Yields {{ singleRecipe.yield }} total</p>
<p> Makes {{ singleRecipe.serving }}, {{ singleRecipe.servingSize }} servings</p>




<ul>
  <li> {{ singleRecipe.step1 }} </li>
  <li> {{ singleRecipe.step2 }} </li>
  <li> {{ singleRecipe.step3 }} </li>
  <li> {{ singleRecipe.step4 }} </li>
  <li> {{ singleRecipe.step5 }} </li>
  <li> {{ singleRecipe.step6 }} </li>
  <li> 
       {{ singleRecipe.tip }}: 
       <br> 
       {{ singleRecipe.notes }} 
  </li>
</ul>


<hr>

<a href="#/edit/{{ singleRecipe.objectId }}">Edit Me</a> | 
<a href="#" ng-click="deleteMe(singleRecipe)">Delete Me</a>